.sidebar {
  width: 230px;
  background: #020617;
  color: white;
  height: 100vh;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  border-right: 1px solid rgba(255,255,255,0.05);
}

.logo {
  font-size: 22px;
  margin-bottom: 40px;
}

.logo span {
  color: #a855f7;
}

.sidebar a {
  color: #aaa;
  text-decoration: none;
  margin-bottom: 20px;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #a855f7;
  transform: translateX(5px);
}

.sidebar a{
  display:block;
  margin:14px 0;
  color:#cbd5f5;
  text-decoration:none;
  font-size:16px;
  transition:0.3s;
}

.sidebar a:hover{
  color:#8b5cf6;
  transform:translateX(5px);
}
